@model TodoApp.Models.Todo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!-- あそび -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">　</div>
    <div class="col-md-4"></div>
</div>

<h2>削除</h2>

<h6>消す?</h6>
<div>
    <h4>登録情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <!-- チェックボックスはとりま非活性
            <dt>
                @Html.DisplayNameFor(model => model.Done)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Done)
            </dd>
        -->
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="削除" class="btn btn-danger" /> |
                @Html.ActionLink("登録情報一覧に戻る", "Index")
            </div>
        }
    </div>
