@model TodoApp.Models.Todo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!-- あそび -->
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">　</div>
    <div class="col-md-4"></div>
</div>

<h2>登録情報詳細</h2>

<div>
    <h4>登録情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <!-- チェックボックスはとりま非活性
            <dt>
                @Html.DisplayNameFor(model => model.Done)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Done)
            </dd>
        -->
        </dl>
    </div>
    <p>
        @Html.ActionLink("編集画面に移動", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("登録情報一覧に戻る", "Index")
    </p>
